.header{
    text-align: center;
}
.headerText{
    text-align: right;
}
.autentification{
    text-align: center;
}

.fieldBox{
    margin-top: 0%;
    margin-left: 25%;
    margin-right: 25%;
}
.formBox{
    text-align: justify;
}