.editor-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 2em;
  justify-content: space-around;
}

.document-title {
  margin-left: 1em;
}

@media print {
  body {
    background: none;
  }
}

.left-header {
  display: flex;
  align-items: center;
}
