.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registration-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px
}

.input-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
}