.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ql-toolbar {
  width: 100%;
  display: flex;
  /* position: fixed;
  width:80%;
  top:0; */
  justify-content: center;
  flex-wrap: wrap;
}

.container .ql-container.ql-snow {
  margin-top: 2em;
  padding: 1.5cm;
  width: 8.268in;
  height: 11.693in;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 830px) {
  .ql-container.ql-snow.ql-disabled {
    width: 95%;
    padding: 1cm;
    margin-top: 0px;
  }

  .ql-toolbar.ql-snow {
    background-color: white;
    position: fixed;
    width: 100%;
    bottom: 0px;
    z-index: 1;
  }
}

@media (max-width: 350px) {
  .ql-formats:nth-child(1),
  .ql-formats:nth-child(8),
  .ql-formats:nth-child(9) {
    display: none;
  }
}
