.left-header {
  display: flex;
  align-items: center;
}

.right-header {
  display: flex;
  column-gap: 30px;
}

.document-title {
  margin-left: 1em;
}

.page-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}
